/**********************/
/*     over 368px     */
/**********************/
@media only screen and (min-width: 23em) {
    /* SECTION 1 BEGIN*/

    /* SECTION 1 END*/
    /* ******************* */
    /* SECTION 2 BEGIN*/

    /* SECTION 2 END*/
    /* ******************* */
    /* SECTION 3 BEGIN*/

    /* SECTION 3 END*/
    /* ******************* */
    /* SECTION 4 BEGIN*/

    /* SECTION 4 END*/
}

/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
    /* SECTION 1 BEGIN*/

    /* SECTION 1 END*/
    /* ******************* */
    /* SECTION 2 BEGIN*/

    /* SECTION 2 END*/
    /* ******************* */
    /* SECTION 3 BEGIN*/

    footer {
        padding: calc((100 / 16) * 1rem);
    }

    .footer-container {
        max-width: calc((500 / 16) * 1rem);
        margin: 0 auto;
    }

    .footer-container > img {
        width: calc((200 / 16) * 1rem);
    }

    .footer-inner-container {
        display: flex;
        flex-direction: column;
    }

    .footer__nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: calc((50 / 16) * 1rem);
    }

    .footer__nav ul li:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .footer__nav ul li:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    .footer__social-copyright {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* SECTION 3 END*/
    /* ******************* */
    /* SECTION 4 BEGIN*/

    /* SECTION 4 END*/
}

/**********************/
/*     over 640px     */
/**********************/
@media only screen and (min-width: 40em) {
    /* SECTION 1 BEGIN*/

    .section-1 {
        min-height: 100vh;
    }

    .section1__wrapper {
        max-width: 1200px;
        margin-inline: auto;
        padding: 2em 0;
    }

    .header-wrapper .logo-image {
        width: 150px;
    }

    .hero {
        display: flex;
        align-items: center;
        gap: 3em;
        padding-top: 3em;
    }

    .image-side img {
        width: 100%;
    }

    .header-wrapper .header-link {
        padding: 0.75em 4em;
    }

    .text-side {
        max-width: 500px;
        padding: 0;
    }

    .text-side .text-head {
        font-size: 2.5rem;
        text-align: left;
    }

    .text-side .text-desc {
        font-size: 1rem;
        text-align: left;
    }

    .image-side {
        padding: 0;
    }

    .cta-box {
        text-align: left;
    }

    .cta {
        padding: 1em 4em;
    }

    /* SECTION 1 END*/
    /* ******************* */
    /* SECTION 2 BEGIN*/

    .call-to-action {
        width: 60vw;
        height: 18vw;
    }

    .call-to-action h2 {
        font-size: 1.2rem;
    }

    .call-to-action button {
        width: 35vw;
        height: 6vw;
        font-size: 1rem;
        box-shadow: -4px 4px var(--shadow);
    }

    .section-two {
        max-width: 1200px;
        margin-inline: auto;
    }
    /* SECTION 2 END*/
    /* ******************* */
    /* SECTION 3 BEGIN*/

    .footer__nav ul {
        align-items: center;
    }

    /* SECTION 3 END*/
    /* ******************* */
    /* SECTION 4 BEGIN*/

    /* SECTION 4 END*/
}

/**********************/
/*     over 800px     */
/**********************/
@media only screen and (min-width: 50em) {
    /* SECTION 1 BEGIN*/

    /* SECTION 1 END*/
    /* ******************* */
    /* SECTION 2 BEGIN*/

    .section-two {
        /* padding: 0 2rem; */
        display: grid;
        gap: 2em;
    }
    .section-two article {
        text-align: left;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .section-two section {
        flex-basis: 30rem;
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .section-two img {
        width: 25rem;
        object-fit: contain;
        height: auto;
        order: 3;
    }
    .section-two article section p {
        margin: auto;
        font-size: 0.85rem;
    }

    .section-two article section h2 {
        font-size: 1.2rem;
        text-align: left;
    }

    .section-two article:nth-child(2) img {
        order: 1;
    }

    /* SECTION 2 END*/
    /* ******************* */
    /* SECTION 3 BEGIN*/

    /* SECTION 3 END*/
    /* ******************* */
    /* SECTION 4 BEGIN*/

    /* SECTION 4 END*/
}

/**********************/
/*     over 960px     */
/**********************/
@media only screen and (min-width: 60em) {
    /* SECTION 1 BEGIN*/

    /* SECTION 1 END*/
    /* ******************* */
    /* SECTION 2 BEGIN*/

    /* SECTION 2 END*/
    /* ******************* */
    /* SECTION 3 BEGIN*/

    /* SECTION 3 END*/
    /* ******************* */
    /* SECTION 4 BEGIN*/

    /* SECTION 4 END*/
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
    /* SECTION 1 BEGIN*/

    /* SECTION 1 END*/
    /* ******************* */
    /* SECTION 2 BEGIN*/

    .call-to-action button {
        width: 35vw;
        height: 4vw;
        font-size: 1rem;
        box-shadow: -4px 4px var(--shadow);
    }
    /* SECTION 2 END*/
    /* ******************* */
    /* SECTION 3 BEGIN*/

    footer {
        padding: calc((100 / 16) * 1rem);
    }

    .footer-container {
        max-width: calc((1200 / 16) * 1rem);
    }

    .footer-container > img {
        width: calc((200 / 16) * 1rem);
    }

    .footer-inner-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: calc((50 / 16) * 1rem);
    }

    .footer__about {
        margin-bottom: 0;

        flex-basis: calc((500 / 16) * 1rem);
        flex-shrink: 1;
        flex-grow: 0;
    }

    .footer__nav {
        margin-bottom: 0;

        flex-basis: calc((500 / 16) * 1rem);
        flex-shrink: 1;
        flex-grow: 0;
    }

    .footer__social-copyright {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__social-copyright ul {
        margin-bottom: 0;
    }

    /* SECTION 3 END*/
    /* ******************* */
    /* SECTION 4 BEGIN*/

    /* SECTION 4 END*/
}
