/**********************/
/*     over 368px     */
/**********************/
@media only screen and (min-width: 23em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 640px     */
/**********************/
@media only screen and (min-width: 40em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/
  .section-two {
    text-align: left;
  }
  .section-two article {
    height: 30vh;
    padding: 20vh 0vw 20vh 7vw;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0.1px #dddddd;
    flex-direction: row;
    align-items: center;
  }

  .section-two section {
    width: 37vw;
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .section-two img {
    width: 25vw;
    object-fit: contain;
    height: auto;
    order: 3;
  }
  .section-two article section p {
    height: 10vh;
    margin: auto;
    font-size: 0.85rem;
  }

  .section-two article section h2 {
    font-size: 1.2rem;
    margin: 1vh 0;
    text-align: left;
  }

  .section-two article:nth-child(2) {
    padding: 20vh 7vw 20vh 0;
  }
  .section-two article:nth-child(2) img {
    order: 1;
  }

  .call-to-action {
    width: 60vw;
    height: 18vw;
  }

  .call-to-action h2 {
    font-size: 1.2rem;
  }

  .call-to-action button {
    width: 35vw;
    height: 6vw;
    font-size: 1rem;
    box-shadow: -4px 4px var(--shadow);
  }
  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 800px     */
/**********************/
@media only screen and (min-width: 50em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 960px     */
/**********************/
@media only screen and (min-width: 60em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  .call-to-action button {
    width: 35vw;
    height: 4vw;
    font-size: 1rem;
    box-shadow: -4px 4px var(--shadow);
    /* SECTION 2 END*/
    /* ******************* */
    /* SECTION 3 BEGIN*/

    /* SECTION 3 END*/
    /* ******************* */
    /* SECTION 4 BEGIN*/

    /* SECTION 4 END*/
  }
}
